//ראש הדף
//mixin
//לתקן ולעשות לפי מה שצריך לפי הפעולות      
@mixin flexCenter() {
  padding: 20px;
  text-align: center;
  flex-direction:$direction ;
}
header {
  border-radius: 30px;
  background-color: $primarybtn2;
  @include flexCenter(row);
  color: $textcolor;
}
